{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}
{% load static %}

{% block content %}
<section class="section pt-4">
      <div class="container">
          <div class="row mb-4 mt-4 align-items-center">
          <div class="col-md-6" >
            <h2>{{ self.title }}</h2>
          </div>
        </div>
      </div>

      <div class="site-section pb-0">
        <div class="container">
          <div class="row align-items-stretch">
            <div class="col-md-12 align-self-center">
            </div>
            <div class="col-md-12 ml-auto pt-4" >
                {% for block in page.content %}
                    <section>{% include_block block %}</section>
                {% endfor %}
            </div>

          </div>
        </div>
        </div>
    </section>

{% endblock %}