{% extends "base.html" %}

{% block title %}Page not found{% endblock %}

{% block body_class %}template-404{% endblock %}

{% block content %}
    <section class="section site-portfolio">
        <div class="container">

            <div class="row mb-5 align-items-center">
                <div class="col-md-12 col-lg-6 mb-4 mb-lg-0">
                    <h1>Page not found!</h1>

                    <h2>Sorry, this page could not be found.</h2>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
