<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error 500 - Internal Server Error</title>
  <link rel="stylesheet" href="styles.css">
    <style>
body {
  background-color: #8e8d8d; /* Replace black with a shade of gray */
}

.error-page {
  text-align: center;
}

.error-page h1 {
  font-size: 10rem;
  margin-bottom: 1rem;
  color: #3c3c3c; /* Replace white with a shade of gray */
}

.error-page p {
  font-size: 2rem;
  color: #bdbdbd; /* Replace white with a shade of gray */
}
    </style>
</head>
<body>
  <div class="error-page">
    <h1>500</h1>
    <p>Internal Server Error</p>
  </div>
</body>
</html>